<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congrats on your flight booking, <%= @passenger.name %></h1>
    <p>
      You have successfully booked your flight from <%= @booking.flight.departure_airport.city %> to <%= @booking.flight.arrival_airport.city %>.
    </p>
    <p>Thanks for booking and have a great day!</p>
  </body>
</html>
