<!-- render a flight partial for each flight -->
<div class="px-4 sm:px-6 lg:px-8">
  <div class="mb-10">
    <h2 class="text-xl font-bold text-indigo-900 mb-4">Flight Search</h2>
    <!-- render search form -->
    <%= render "search_form" %>
  </div>
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h2 class="text-xl font-bold text-indigo-900">Available Flights</h2>
    </div>
  </div>
  <div class="-mx-4 mt-4 ring-1 ring-gray-300 sm:-mx-6 md:mx-0 md:rounded-lg">
    <table class="min-w-full divide-y divide-gray-300">
      <thead>
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Route</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Departing</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Arriving</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Flight Time</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Departure Time</th>
          <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
            <span class="sr-only">Select</span>
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        <% @flights.each do |flight| %>
          <%= render "flight", flight: flight %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
